.btn-new-game{
    display: inline-block;
    width: 120px;
    height: 45px;
    background-color:  #847363;
    color: white;
    font-weight:bolder;
    border-radius: 6px;
    cursor: pointer;
     position: absolute;
     right: 0;
}
.btn-new-game:hover{
    opacity: 0.8;
}
.btn-new-game:focus{
    outline:none !important;
}
 